<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>JN Sistemas</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
   <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />	

<style type="text/css">
form input[type=submit] {
 color: white;
}
form{
margin-left: 35%;
margin-top: 11%;
}
.col .row{
margin-right: 0rm
}

</style> 	






</head>
<body>
<div th:if="${param.success}">
 <div class="alert alert-info">Registrado com Sucesso
 </div>

</div>


<form action="/cadastroUsuario/salvaruser"  method="post" th:object="${usuarioobj}" class="col s12" >
  
  <h5>Realize o cadastro do Novo Usuario</h5>
  
  <div class="row">
				<div class="input-fiel col s6">
					<label for="login" class="active">Login</label> 
					    <input name="login" th:field="*{login}" id="login" class="validate" type="text"
						>
				</div>
				</div>
				
				  <div class="row">
				<div class="input-fiel col s6">
					<label for="senha" class="active">Senha</label> 
					<input name="senha" 
					 th:field="*{senha}" id="senha" class="validate" type="password">
				</div>
			</div>
           <div class="row">
			<div class="input-fiel col s6">
				<input class="waves-effect waves-light btn" type="submit"
						>
			</div>
		</div>
		
		<span th:text="${mensagem}"></span>
		<div class="row">
		<a href="/login">Voltar</a>
		</div>
		</form>
		

</body>
</html>